<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Management.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
  
        <nav class="pt-4 navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div style="margin-left: 6.5rem;" class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX93J18qNRgmeVjuQ3mKvkChAq8Mg5q-dKjQ&s" alt="Alternate Text" height="50px" width="50px" />
                </a>
                <a class="fs-4 navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fund Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="text-decoration: none;" class="btn-login" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration: none;" class="btn-login" asp-area="" asp-controller="Support" asp-action="Create">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration: none;" class="btn-login" asp-area="" asp-controller="MutualFunds" asp-action="Index">Explore Funds</a>
                        </li>
                    </ul>
              
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav" style="margin-right:6.5rem;">
                            <li class="nav-item d-flex align-items-center">
                                <span class="navbar-text-in">Hello! @User.Identity.Name</span>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="avatar-text">
                                        @User.Identity.Name.Substring(0, 1)
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="Profile">My Profile</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="UserDashboard" asp-action="Index">My Portfolio</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Support" asp-action="Create">Support</a></li>
                                    <li>
                                        <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                            <button type="submit" class="dropdown-item">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav" style=" margin-right: 6rem;">
                            <li class="nav-item">
                                <a style="text-decoration: none;" class="btn-login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a style="text-decoration: none;" class="btn-create-account" asp-area="" asp-controller="Employee" asp-action="Add">Create Account</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- To Display the Alert Messages -->
    <div class="toast-container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="toast toast-success" role="alert">
                <div class="toast-header">
                    <strong class="me-auto">Success</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @TempData["SuccessMessage"]
                </div>
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="toast toast-error" role="alert">
                <div class="toast-header">
                    <strong class="me-auto">Error</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    @TempData["ErrorMessage"]
                </div>
            </div>
        }
    </div>
    <!-- Footer Section -->
    <footer class="py-3 text-center footer fixed-bottom border-bottom box-shadow">
        <div class="container">
            &copy; 2024 - Fund Manager. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('.toast').toast({ delay: 2000 });
            $('.toast').toast('show');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
